$picker-width: 210px

$current-date-foreground: #555555
$current-date-background: #e9e9e9
$current-date-font-size: 14px

$calendar-head-background: #333333
$calendar-head-foreground: white

$calendar-body-background: #e9e9e9
$calendar-body-foreground: #555555

$chosen-day-stroke: #222222
$chosen-day-fill: transparent

$other-months-foreground: #bbbbbb

.date-picker, .date-picker *
	box-sizing: border-box

.date-picker 
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif
	position: relative
	z-index: 99999

.current-date
	position: relative
	width: $picker-width
	background: $current-date-background
	color: $current-date-foreground
	padding: 10px
	font-size: $current-date-font-size
	text-align: center
	cursor: pointer

.calendar 
	background: $calendar-head-background
	position: absolute
	width: $picker-width
	user-select: none

.month-header 
	display: flex
	justify-content: space-between
	align-items: center
	padding: 4px

	button 
		background: none
		border: 0
		font-size: 1.25em
		color: $calendar-head-foreground
		cursor: pointer

	h2
		color: $calendar-head-foreground
		font-size: 1em
		
.weekdays 
	display: flex
	flex-wrap: wrap
	cursor: pointer

.day 
	position: relative
	padding: 4px
	width: #{$picker-width / 7}
	text-align: center
	background: $calendar-body-background
	color: $calendar-body-foreground
	border: 1px solid $calendar-body-foreground

	&.dummy 
		background: transparent
		color: $calendar-head-foreground
		border: 0
		cursor: default

	&.chosen:before 
		content: ''
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 36px
		height: 36px
		max-width: 80%
		max-height: 80%
		border-radius: 50%
		border: 2px solid $chosen-day-stroke
		background: $chosen-day-fill

.not-this-month
	color: $other-months-foreground 
