.mithril-date-picker, .mithril-date-picker * {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mithril-date-picker {
  position: relative;
  border-radius: 4px;
  z-index: 99999; }
  .mithril-date-picker *, .mithril-date-picker input, .mithril-date-picker button, .mithril-date-picker textarea {
    font-family: Optima, Helvetica, Arial, sans-serif; }
  .mithril-date-picker .current-date {
    position: relative;
    width: 182px;
    background: #e9e9e9;
    border: 0;
    color: #555555;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer; }
  .mithril-date-picker .calendar {
    position: absolute;
    top: calc(100% + 4px);
    border-radius: 4px;
    overflow: hidden;
    width: 182px;
    opacity: 1;
    transition: opacity 0.2s; }
  .mithril-date-picker .incoming {
    opacity: 0; }
  .mithril-date-picker header {
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px; }
    .mithril-date-picker header button {
      padding: 0;
      margin: 0;
      background: none;
      border: 0;
      cursor: pointer; }
    .mithril-date-picker header button.prev, .mithril-date-picker header button.next {
      width: 12px;
      height: 12px;
      border-top: 2px solid white;
      border-right: 2px solid white; }
    .mithril-date-picker header button.prev {
      margin-left: 7px;
      transform: rotate(-135deg); }
    .mithril-date-picker header button.next {
      margin-right: 7px;
      transform: rotate(45deg); }
    .mithril-date-picker header button.month-year {
      color: white;
      font-size: 1em;
      font-weight: 700;
      padding: 7px 0; }
  .mithril-date-picker .weekdays, .mithril-date-picker .months {
    display: flex;
    flex-wrap: wrap; }
  .mithril-date-picker .day, .mithril-date-picker .month {
    position: relative;
    font-size: 12px;
    background: #cccccc;
    border: 0;
    color: #555555;
    cursor: pointer;
    z-index: 0; }
    .mithril-date-picker .day:focus, .mithril-date-picker .month:focus {
      z-index: 1; }
    .mithril-date-picker .day:hover, .mithril-date-picker .month:hover {
      background: #b3b3b3; }
    .mithril-date-picker .day.dummy, .mithril-date-picker .month.dummy {
      background: #333333;
      color: white;
      border: 0;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mithril-date-picker .day.dummy:hover, .mithril-date-picker .month.dummy:hover {
        background: #333333; }
    .mithril-date-picker .day .number, .mithril-date-picker .month .number {
      position: relative;
      z-index: 1; }
    .mithril-date-picker .day.chosen:before, .mithril-date-picker .month.chosen:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 50%;
      border: 1px solid #222222;
      background: white;
      z-index: 0; }
  .mithril-date-picker .day {
    width: 26px;
    height: 26px; }
  .mithril-date-picker .month {
    width: 45.5px;
    height: 45.5px; }
  .mithril-date-picker .not-this-month {
    color: #999999; }

/*# sourceMappingURL=style.css.map */
